:root {
    /* Palettes de couleurs */
    --primary: #4957AD;
    --secondary: #1b5baf;
    --tertiary: #7889FA;

    --lighter: #ddd;
    --light: #aaa;
    --dark: #555;
    --darker: #222;


    /* Styles de police de caractère */
    --default-font-size: 16px;

    /* Espacements */
    --space-small: 15px;
    --space-medium: 30px;
    --space-big: 60px;

    /* Arrondis */
    --radius-small: 2px;
    --radius-medium: 4px;
    --radius-big: 8px;
}